################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
/Uni_OpenGL/Debug
/Uni_OpenGL/Uni_OpenGL/Debug
/Uni_OpenGL/.vs/Uni_OpenGL/v15/ipch/AutoPCH/1aa5352f6aa681d5
/Uni_OpenGL/.vs/Uni_OpenGL/v15/ipch/AutoPCH/defca4a3634344ed
/.vs/github/v15
/.vs/ProjectSettings.json
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/Uni_OpenGL/.vs/Uni_OpenGL/v15/ipch/AutoPCH
*.log
